{% load staticfiles %}
{% load get_id %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<script src="{% static 'jquery-1.10.2.min.js' %}"></script>
<script src="{% static 'jquery-ui.js' %}"></script>
<script src="{% static 'jquery.chained.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'hint.css-master/hint.css' %}">

<style type="text/css">
html, body{
background-color:#F5F5DC;
}
</style>

<body>

<script type="text/javascript">
	$(function() {
	$(window).scroll(function(){
	var scrollTop = $(window).scrollTop();
	if(scrollTop != 0)
	$('#nav').stop().animate({'opacity':'0.2'},200);
	else
	$('#nav').stop().animate({'opacity':'1'},200);
	});

	$('#nav').hover(
	function (e) {
	var scrollTop = $(window).scrollTop();
	if(scrollTop != 0){
	$('#nav').stop().animate({'opacity':'1'},200);
	}
	},
	function (e) {
	var scrollTop = $(window).scrollTop();
	if(scrollTop != 0){
	$('#nav').stop().animate({'opacity':'0.2'},200);
	}
	}
	);
	});
</script>


<div id="nav">
<span id=top><a href="/">PID: {{ global_settings.pid }}</a>, <a href="/kill/">Рестарт</a>, <a href="/arms/">Рабочие места</a>, <a href="/reports/">Отчеты</a>, <a href="/logout/">Выход</a></span>
</div>
<br><br>

<div class="main">
<script>
function look(type){
param=document.getElementById(type);
if(param.style.display == "none") param.style.display = "block";
else param.style.display = "none"
}
</script>
{% block mainblock %}
{% endblock %}
</div>
</body>








