{% extends "base4arms.html" %} 
{% load date_from_ts %}
{% load get_id %}

{% block mainblock %}

<script type="text/javascript">

$(document).ready(function(){
    {% for ka in all_ka %}
    	$('#{{ ka }}').load('/myeco/?groups={{ ka }},');
    {% endfor %}
});


window.setInterval(function(){
	$(document).ready(function(){
		{% for ka in all_ka %}
			$('#{{ ka }}').load('/myeco/?groups={{ ka }},');
		{% endfor %}
	});
}, 20000);

window.setInterval(function(){
	$(document).ready(function(){
		location.reload(true);
	});
}, 600000);
</script>

<table width="100%"><tr>
	{% for ka in all_ka %}
		<td width="50%">
		<div id="{{ ka }}"></div>
		</td>
		{% if forloop.counter|divisibleby:"2" %}
		</tr>
		<tr>
		{% endif %}
	{% endfor %}
<tr></table>

{% endblock %}