<html>
 <head>
 <meta charset="utf-8">
 <style>
  #col1 
    {
    left: 0; /* Положение элемента от правого края */
    top: 20px; /* Положение от верхнего края */
    width: 300px; /* Ширина блока */
    background: #f0f0f0; /* Цвет фона */ 
    }

  #col2 
    {
    left: 200px; /* Положение элемента от правого края */
    top: 20px; /* Положение от верхнего края */
    width: 350px; /* Ширина блока */
    background: #f0f0f0; /* Цвет фона */ 
    text-align:center;
    }

  #centr 
    {
    text-align:left;
    }

  #col3 
    {
    left: 0; /* Положение элемента от правого края */
    top: 20px; /* Положение от верхнего края */
    width: 300px; /* Ширина блока */
    background: #f0f0f0; /* Цвет фона */ 
    }

  #chart2
    {
    width:1000px;
    height:500px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    }
  #parent1
    {
    margin: 10%,0,0,0; 
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12pt;
    }

  #child1
    {
    margin-left: 3%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    }

  </style>
</head> 
<body>
<p>
<h2>Краткая справка по использованию программного средства "Графики"</h2>
<p id=parent1>Предназначено для отображения параметров технологического процесса ретроспективно и в реальном времени</p>
<h4>
<p id=parent1>Примечания:</p>
<p id=parent1>1. Необязательные к заполнению Поля и их предопределенные значения :            </p>
<p id=child1>
        "Дата и Время начала временного диапазона"                                           <br>
            Если поле "Дискретность" установлено в значение "Текущие" то поле                <br>
                "Дата и Время начала временного диапазона" = 15 минут в прошлое от сейчас    <br>
            Если поле "Дискретность" установлено в значение "Часовые" то поле                <br>
                "Дата и Время начала временного диапазона" = 24 часа в прошлое от сейчас     <br>
            Если поле "Дискретность" установлено в значение "Суточные" то поле               <br>
                "Дата и Время начала временного диапазона" = 7 дней в прошлое от сейчас      <br>
        "Дата и Время конца временного диапазона" будет равно текущему времени.              <br>
        "Вертикальных тиков" 11 (10 - диапазонов)                                            <br>
        "Минимум" на 20% меньше самого минимального значения на графике                      <br>
        "Максимум" на 20% больше самого максимального значения на графике                    <br>
        "Горизонтальных тиков" 11 (10 - диапазонов)                                          <br>
<p>
    2. Нежелательно запрашивать в режиме "Мгновенные" количество данных более чем за сутки   <br>
</h4>
<h4>
Использование:                                                                                              <br>
1. Если в выпадающем списке "Готовые диаграммы" уже есть нужная Вам                                         <br>
   диаграмма:                                                                                               <br>
<p id=child1>
   1.1  В выпадающем списке "Готовые диаграммы" выберите нужную диаграмму                                   <br>
       , при этом в списке "Теги выбранной диаграммы" отобразятся теги                                      <br>
       этой диаграммы.                                                                                      <br>
   1.2  Выберите необходимую "Дискретность"                                                                 <br>
   1.3  Проставьте если необходимо начало нужного временного диапазона отдельно дату отдельно время         <br>
   1.4  Проставьте если необходимо конец нужного временного диапазона отдельно дату отдельно время          <br>
   1.5  Проставьте если необходимо необходимое количество промежуточных вертикальных линий на               <br>
        графике                                                                                             <br>
   1.6  Отмеченный пункт "Автоматическое обновление" приведет к автоматическому обновлению графика с        <br>
        течением времени                                                                                    <br>
   1.7  Проставьте если необходимо поля "Минимум","Максимум","Горизонтальных тиков"                         <br>
   1.8  Нажмите кнопку "Построить"                                                                          <br>
   1.9  Ожидайте появления графика.                                                                         <br>
   1.10 Ликуйте.                                                                                            <br>
</p>
2. Если в выпадающем списке "Готовые диаграммы" нет нужной Вам                                              <br>
   диаграммы:                                                                                               <br>
<p id=child1>
   2.1 В разделе "Новая диаграмма" (справа внизу экрана) в текстовом поле внести название                   <br>
       новой диаграммы                                                                                      <br>
   2.2 Нажать кнопку "Создать диаграмму"                                                                    <br>
   2.3 В выпадающем списке "Готовые диаграммы" найти по имени и выбрать созданную диаграмму                 <br>
   2.4 В левой части окна в списке "Группы тегов" выбрать нужную группу тегов                               <br>
   2.5 В списке "Теги выбранной группы" выбрать интересующий Вас параметр                                   <br>
       (можно несколько сразу с нажатой клавишей Ctrl)                                                      <br>
   2.6 Нажать кнопку "Добавить ===>" выбранные теги должны появиться в списке "Теги выбранной диаграммы"    <br>
   2.7 Если необходимо , повторить шаги с 2.4 по 2.6                                                          <br>
   2.8 Если в списке "Теги выбранной диаграммы" присутствует ненужный тег выделить его и нажать             <br>
       кнопку "<=== Убрать"                                                                                 <br>
   2.9 Дальнейшие действия описаны в пункте 1.                                                              <br>
</p>
3. Сохранение графика в файл                                                                                <br>
<p id=child1>
   3.1 После появления диаграммы на экране нажать кнопку "Сохранить картинку"                               <br>
   3.2 В появившемся окне с графиком , непосредственно на графике нажать правую кнопку мыши                 <br>
   3.3 В выпадающем меню выбрать чтото похожее на "сохранить картинку "                                     <br>
   3.4 Указать путь сохранения и нажать сохранить.                                                          <br>
   3.5 Нажать кнопку "Закрыть" в дополнительном окне.                                                       <br>
</p>
4. Сохранение цифровых значений.                                                                            <br>
<p id=child1>
   4.1 После формарования графика на экране нажать кнопку "Сохранить таблицу"                               <br>
   4.2 Ответить на запрос о сохранении или открытии файла.                                                  <br>
    Если ответить "Открыть" файл откроется в программе Excel                                                <br>
    Если ответить "Сохранить" программа запросит путь сохранения файла не открывая его.                     <br>
</p>
Отзывы пожелания придирки по телефону 387226                                                                <br>
</p>
</p>
</body>
</html>